APP_NAME=Hosly
APP_ENV=production
PORT=3000
SOCKET_ALLOWED_ORIGINS=https://hosly.app,https://www.hosly.app,https://socket.hosly.app

# Application URL
APP_URL=https://hosly.app

# Database Configuration
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=hosly
DB_USERNAME=root
DB_PASSWORD=
